@use "./../../layouts/l-page.scss";
@use "./../../mixins/block.scss";
@use "./../../mixins/ellipsis.scss";
@use "./../../mixins/responsive.scss";
@use "./../../mixins/font_shikimori.scss";
@use "./../../mixins/flex_column.scss";
@use "./../../mixins/link.scss";
@use "./../../mixins/clearfix.scss";
@use "./../../mixins/shadow.scss";

@use "./../../units";
@use "./../../colors";

@mixin tag($color, $background1, $background2, $border) {
  background: linear-gradient(45deg, $background1 0%, $background2 50%, $background1);
  color: $color;
  border: 1px solid $border;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;

  @include responsive.gte_laptop {
    &:hover {
      color: lighten($color, 5%);
      background: linear-gradient(45deg, lighten($background1, 5%) 0%, lighten($background2, 5%) 50%, lighten($background1, 5%));
      border-color: lighten($border, 5%);
    }
  }
}

@mixin slider_column($columns, $gutter, $is_mobile) {
  $container-outer-padding: 0px;

  @if $is_mobile {
    $container-outer-padding: l-page.$l-page-mobile-padding;
  } @else {
    $container-outer-padding: l-page.$l-page-desktop-padding;
  }

  flex-shrink: 0;
  margin-left: 0;
  margin-right: $gutter;
  margin-top: 0px !important; // overriders margin-top set by swiper
  width: calc(#{calc(100vw / $columns)} - #{$gutter} - #{calc($container-outer-padding * 2 / $columns) - calc($gutter / $columns)});

  &:last-child {
    margin-right: 0;
  }
}

.p-dashboards-show {
  @include responsive.gte_ipad {
    padding-top: 5px;
  }

  .fc-ongoings {
    overflow: hidden;
    position: relative;

    @include responsive.iphone {
      .mobile-slider-prev:before,
      .mobile-slider-next:before {
        max-height: 80%;
      }
    }

    .inner {
      @include flex_column.fcolumn-responsive(
        $columns: 1,
        $laptop-columns: 7,
        $desktop-columns: 8,
        $gutter-laptop: 12px,
        $gutter-desktop: 15px,
        $selector: ".b-catalog_entry"
      );

      @include responsive.lte_ipad {
        flex-wrap: nowrap;
        margin-left: 0;
      }

      .b-catalog_entry {
        @include responsive.iphone-portrait {
          @include slider-column(3, 12px, true);
        }

        @include responsive.iphone-landscape {
          @include slider-column(4, 12px, true);
        }

        @include responsive.ipad {
          @include slider-column(5, 12px, true);
        }

        @include responsive.laptop {
          &:nth-child(8) {
            display: none;
          }
        }
      }
    }
  }

  .fc-user-sections {
    padding-top: units.$block-offset;
    @include responsive.gte_ipad {
      display: flex;
    }

    .f-user {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: rgba(colors.$block-color, 0.6);
      padding: 10px;
      @include shadow.shadow-base;
      border-radius: units.$border-radius-base;

      @include responsive.iphone {
        @include block.block0;
        min-height: 121px;
      }

      @include responsive.gte_ipad {
        width: 270px;
        margin-right: 30px;
      }

      .social {
        div {
          padding: 15px 0 5px 0;
          display: flex;
          justify-content: space-around;
          a::before {
            font-size: 40px;
          }
        }
      }
      .links {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
      }

      p.auth-alert {
        // color: $red;
        font-size: 16px;
        padding: 20px 0;
      }
    }
    .f-tag-sections {
      display: flex;
      flex-direction: row;

      @include responsive.iphone {
        padding-top: 10px;
        flex-direction: column;
        width: 100%;
      }

      @include responsive.gte_ipad {
        width: calc(100% - 270px);
      }

      .f-sections {
        @include responsive.gte_ipad {
          margin-left: 10px;
        }

        .fc-headlines,
        .fc-tags {
          display: flex;

          @include responsive.iphone-portrait {
            margin-left: -10px;
          }

          @include responsive.iphone-landscape-ipad {
            margin-left: -15px;
          }

          @include responsive.gte_laptop {
            margin-left: -30px;
          }
        }

        .fc-headlines .f-headline {
          @include responsive.iphone-portrait {
            margin-left: 10px;
            width: calc(100% - 10px);
            //width: calc(33% - 10px);
          }

          @include responsive.iphone-landscape-ipad {
            margin-left: 15px;
            width: calc(100% - 15px);
            // width: calc(33% - 15px);
          }
        }

        .fc-tags {
          @include responsive.lte_ipad {
            @include clearfix.clearfix;
            display: inline-block;
            margin: -8px 0 0 -10px;
            padding-bottom: 10px;

            .f-tags {
              display: inline;
            }
          }
        }

        .fc-headlines .f-headline,
        .fc-tags .f-tags {
          @include responsive.gte_laptop {
            margin-left: 30px;
          }

          @include responsive.laptop {
            &:not(:last-child) {
              width: calc(105% - 30px);
              // width: calc(38% - 30px);
            }

            &:last-child {
              width: calc(90% - 30px);
              // width: calc(23% - 30px);
            }
          }

          @include responsive.gte_desktop {
            width: calc(100% - 30px);
            // width: calc(33% - 30px);
          }
        }
      }
    }

    @include responsive.iphone-portrait {
      .midheadline {
        margin-top: 10px;

        & > a {
          padding-right: 5px;
          font-size: 14px;

          &:before {
            right: 10px;
          }
        }
      }
    }

    .f-tags.manga-tags {
      @include responsive.iphone-portrait {
        .doujin {
          display: none;
        }
      }

      @include responsive.ipad {
        .doujin,
        .one_shot {
          display: none;
        }
      }
    }

    .f-tags.ranobe-tags {
      @include responsive.gte_ipad {
        display: flex;
        flex-direction: column;
      }

      .forum-container {
        padding-top: 10px;

        @include responsive.iphone {
          clear: left;
          padding-top: 10px;
          margin-bottom: -13px;
        }

        @include responsive.iphone-landscape-ipad {
          width: 50%;
        }

        @include responsive.ipad {
          clear: left;
          padding-bottom: 12px;
          position: relative;
          width: 100%;
        }

        .b-link_button {
          @include responsive.iphone {
            margin: 8px 0 0 10px;
          }

          @include responsive.ipad {
            margin: 8px 0 0 10px;
            // position: absolute;
          }

          @include responsive.gte_laptop {
            max-width: 150px;
          }
        }
      }
    }

    .tags {
      @include responsive.gte_laptop {
        margin: -8px 0 0 -10px;
      }
    }

    .tag-link {
      border-radius: 12px;
      display: inline-block;
      font-family: var(--font-alt);
      font-size: 12px;
      line-height: 21px;
      margin: 8px 0 0 10px;
      padding: 0 10px;

      @media screen and (max-width: 320px) {
        font-size: 11px;
      }

      @include responsive.lte_ipad {
        float: left;
      }

      &.anime-tag {
        @include tag(#a7d8b5, #2c6b41bd, #378551bd, #2c6b41bd);
      }

      &.manga-tag {
        @include tag(#d7b2e0, rgb(95 33 81 / 80%), #824c76a8, rgb(95 33 81 / 80%));
      }

      &.ranobe-tag {
        @include tag(#97c9e0, rgb(32 63 93 / 80%), #3d6175bd, rgb(32 64 93 / 80%));
      }

      &:before {
        content: "#";
        padding-right: 1px;
      }
    }
  }

  .headline {
    // headline must be upper to flex container with negative margins below
    position: relative;
    z-index: 1;

    .buttons {
      margin-left: auto;

      .options {
        @include link.link_color(#4bf);
        cursor: pointer;

        &:before {
          @include font_shikimori.font_shikimori("\e84e");
          font-size: 18px;
        }
      }
    }
  }

  .headline.magenta a {
    @include link.link_color(#f477ad);
  }

  .b-admin_panel {
    margin-top: -25px;
  }

  .create-topic {
    @include responsive.iphone {
      min-width: 30px;
      margin-top: 5px;
      margin-right: 10px;

      &:before {
        padding-right: 0;
      }

      span {
        display: none;
      }
    }

    @include responsive.ipad {
      margin-top: 5px;
    }

    @include responsive.gte_ipad {
      &:before {
        font-size: 12px;
        padding-right: 6px;
      }
    }

    @include responsive.gte_laptop {
      margin-top: 2px;
    }
  }

  .news_wall {
    @include flex_column.fcolumn-responsive(
      $ipad-columns: 2,
      $laptop-columns: 3,
      $offset-mobile: 40px,
      $offset-desktop: 48px,
      $selector: ".b-news_wall-topic, .b-postloader"
    );

    &.latest-news {
      @include responsive.lte_ipad {
        .b-news_wall-topic:last-child {
          display: none;
        }
      }
    }

    // &.other-news {
    //   @include responsive.gte_laptop {
    //     .b-news_wall-topic:first-child {
    //       display: none;
    //     }
    //   }
    // }

    .b-postloader {
      width: 100%;
    }
  }
}
