//final transported
@use "./../colors";
@use "./../units";

@use "./../mixins/margins.scss";
@use "./../mixins/responsive.scss";
@use "./../mixins/ellipsis.scss";

@use "./../blocks/b-tag.scss";

.b-db_entry-variant-list_item {
  @include margins.mb(17px);
  border-top: 1px solid rgba(colors.$bright-color, 0.1);
  display: flex;
  padding-top: 10px;
  border-radius: units.$border-radius-menu;

  &:hover {
    background: linear-gradient(168deg, rgba(colors.$bright-color, 0.05) 0%, rgba(colors.$bright-color, 0.15) 100%);
    color: inherit;
  }

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  .image {
    flex-shrink: 0;
    margin-right: 16px;

    img {
      object-fit: cover;
      height: 75px;
      width: 48px;
    }
  }

  & > .info {
    line-height: units.$line_height;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      margin-bottom: 7px;
      .b-link {
        @include ellipsis.ellipsis;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
      }
    }

    .line {
      display: inline-flex;
      align-items: center;
      margin-bottom: 5px;

      &.multiline {
        .value {
          flex-wrap: wrap;
        }
      }

      .key {
        color: colors.$dark-color;
        cursor: default;
        font-weight: bold;
        margin-right: 5px;

        @include responsive.iphone-portrait {
          display: none;
        }
      }

      .value {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;

        & > a,
        & > div,
        & > span {
          flex-shrink: 0;
          margin-top: 2.5px;
          margin-bottom: 2.5px;
          flex-wrap: wrap;
          overflow: hidden;
        }
      }

      .b-anime_status_tag {
        @include margins.mr(8px);
        white-space: nowrap;
        @include ellipsis.ellipsis;
      }
    }

    .b-user_rate {
      margin-top: 16px;
      // +user_rate-minified;
    }
  }
}
