//final transported
@use "./../globals";
@use "./../fonts";
@use './../colors';
@use './../units';

$margin-left: 3px;
$margin-right: 9px;

.b-tag {
  color: colors.$bright-color;
  background-color: colors.$block-color;
  padding: 2px 10px;
  margin: 3px;
  border-radius: units.$border-radius-base;
  cursor: default;
  display: inline-block;
  font-family: fonts.$font-alt;
  letter-spacing: fonts.$font-alt-text-letter-spacing;
  line-height: 16px;
  text-decoration: none;
  transition: none;

  &[href] {
    cursor: pointer;

    &.active,
    &:hover {
      background-color: colors.$hover-buttoms-2;
      text-decoration: none;
      color: colors.$bright-color;
    }

    &:active {
      background-color: colors.$link-3;
    }

    &:last-child &:hover {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 3px;
  }

  &.narrow {
    margin-right: 5px;
  }

  a {
    transition: none;
    color: inherit;
  }
}
