//ready to use

@use "./../units";

@use "./../mixins/media_marker.scss";
@use "./../mixins/link.scss";
@use "./../mixins/media.scss";
@use "./../mixins/image_editable.scss";
@use "./../mixins/retina.scss";
@use "./../mixins/font_shikimori.scss";

.cc > .c-video {
  margin-bottom: 15px;
}

.b-video {
  @include image_editable.image_editable;
  @include media.media;

  max-height: 100%;

  &.fixed {
    .video-link img {
      width: units.$media_width;
    }

    &.twitch,
    &.myvi,
    &.coub {
      .video-link img {
        max-height: units.$media_height;
        width: auto;
      }
    }

    &.dailymotion {
      max-height: units.$media_height;
    }
  }

  &.shrinked-1_3 {
    .video-link img {
      margin-top: -9.55%;
      margin-bottom: -9.55%;
    }
  }

  &.shrinked-1_5 {
    .video-link img {
      margin-top: -5.25%;
      margin-bottom: -5.25%;
    }
  }

  .video-link {
    background: #212121;
    cursor: pointer; // it can be div for html5 video
    display: inline-block;
    overflow: hidden;

    &:hover:before {
      opacity: 1;
    }

    &:before {
      @include font_shikimori.font_shikimori("\f144");
      color: #fff;
      font-size: 50px;
      left: 50%;
      line-height: 54px;
      margin-left: -27px;
      margin-top: -27px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 50%;
      transition: all 0.24s ease-in-out;
      z-index: 1;
    }
  }

  .name {
    @include media_marker.media_marker;
    background: transparent;
    bottom: auto;
    left: 4px;
    max-width: calc(100% - 8px);
    right: auto;
    text-shadow: 0px 0px 1px rgba(#000, 0.9);
    top: 4px;
  }

  .marker {
    @include media_marker.media_marker;
    text-transform: uppercase;
    letter-spacing: 0.25px;

    &:before {
      @include font_shikimori.font_shikimori("\f04b");
      font-size: 12px;
      line-height: 20px;
      padding: 0 7px 0 2px;
    }
  }

  &.youtube .marker:before {
    color: #ed443c;
  }

  &.vk .marker:before {
    color: #5992e8;
  }

  // &.smotret_anime .marker:before
  //   color: #cddc39

  &.ok .marker:before {
    color: #f58300;
  }

  &.coub .marker:before {
    color: #003df5;
  }

  &.sibnet .marker:before {
    color: #b24f33;
  }
}
