$white-color: rgb(219, 219, 219);
$light-color: rgb(184, 184, 184);
$bright-color: rgb(217, 217, 217);
$dark-color: rgb(155, 155, 155);
$menu-back: rgb(21, 21, 21);
$hover-color: rgb(255, 153, 51);
$shadows-color: rgb(150, 150, 150);
$block-color: rgb(69, 69, 69);