$white-color: rgb(219, 219, 219);
$light-color: rgb(184, 184, 184);
$bright-color: rgb(217, 217, 217);
$dull-color: rgb(116, 116, 116);
$input-color: rgb(120, 120, 120);
$buttoms-color: rgb(74, 74, 74);
$hover-bottoms-1: rgb(43, 43, 43);
$hover-buttoms-2: rgb(140, 140, 140);
$small-rating: rgb(64, 64, 64);
$average-rating: rgb(82, 82, 82);
$high-rating: rgb(105, 105, 105);
$very-high-rating: rgb(156, 156, 156);
$time-filled: rgb(92, 92, 92);
$time-empty: rgb(43, 43, 43);
$anime-inprocess: rgb(69, 146, 76);
$anime-complete: rgb(41, 107, 47);
$manga-inprocess: rgb(189, 15, 86);
$manga-complete: rgb(153, 0, 62);
$shadows-color: rgb(150, 150, 150);
$nick-cover: rgb(69, 69, 69);
$popup-color: rgb(39, 39, 39);
$dark-color: rgb(155, 155, 155);
$menu-back: rgb(21, 21, 21);
$hover-color: rgb(255, 153, 51);
$shadows-color: rgb(150, 150, 150);
$block-color: rgb(69, 69, 69);


$link-1: #176093;
$link-2: #155785;
$link-3: #1d78b7;
$link-4: #2b8acc;

$gray-1: #acb1b4;
$gray-2: #9da2a8;
$gray-3: #7b8084;
$gray-4: #4e5257;

$anons_tag: #ca4929;
$ongoing_tag: #1d78b7;
$released_tag: #419541;

$green-check: #24a232;
$red-check: #c32017;

$date: $gray-2;

$top_menu-background_color: #343434;
$top_menu_background_hover: $gray-4;
$top_menu_background_active: $gray-4;
$hundred: 1;