@use "fonts";
@use "colors";
@use "units";

@use "./mixins/shadow.scss";
@use "./mixins/responsive.scss";

@use "./lib/headlines.scss";
@use "./lib/flex_columns.scss";
@use "./lib/float_columns.scss";
@use "./lib/margins.scss";

@use "./layouts/l-top_menu.scss";
@use "./layouts/l-menu.scss";
@use "./layouts/l-page.scss";

@use "./blocks/b-rate.scss";
@use "./blocks/b-entry-info.scss";
@use './blocks/b-image.scss';
@use "./blocks/b-db_entry.scss";
@use "./blocks/b-db_entry-poster.scss";
@use "./blocks/b-db_entry-variant-list_item.scss";
@use "./blocks/b-shade.scss";
@use "./blocks/b-anime_status_tag.scss";
@use "./blocks/b-options-floated.scss";
@use "./blocks/b-breadcrumbs.scss";
@use './blocks/b-video.scss';

@use "./blocks/b-news_wall-topic.scss";
@use "./blocks/b-shiki_swiper.scss";
@use "./blocks/b-link_button.scss";

@use "./pages/p-dashboards/show.scss";
@use "./pages/p-dashboards/db_updates";
@use "./pages/p-elements_collection-index.scss";

@import "./lib/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

body {
  font-family: fonts.$font-main;
  color: colors.$white-color;
  background-image: url("./../assets/images/wallhaven-571998.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: units.$font-size-base-desktop;
  min-height: 100vh;

  @include responsive.iphone {
    font-size: units.$font-size-base-mobile;
  }
}

a {
  cursor: pointer;
  color: colors.$white-color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: colors.$hover-color;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(colors.$light-color, 0.5);
  border-radius: 8px;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  display: none;
  width: 6px;
  background: transparent;
}

.b-list {
  margin-left: 15px;
  li {
    position: relative;
    margin-bottom: 5px;
  }
  li > input {
    appearance: none;
  }
  li:before {
    content: "\f111";
    display: inline-flex;
    align-content: center;
    align-items: flex-start;
    padding-top: 2px;
    font: normal normal normal 7px/1 FontAwesome;
    color: colors.$bright-color;
    height: 100%;
    margin-top: 0.615em;
    position: absolute;
    margin-left: -12px;
  }
}

.b-block_list {
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1px 0 2px;
    padding: 1px 3px 0 3px;
    transition: 0.1s ease-out;
  }
  li.sub {
    margin-left: 15px;
  }
  li:before {
    content: "\f10c";
    display: inline-flex;
    vertical-align: top;
    margin: 2px 10px 2px 2px;
    font: normal normal normal 17px/1 FontAwesome;
  }
  li:hover {
    cursor: pointer;
    color: colors.$hover-color;
    transition: 0s ease-out;
    background: rgba(colors.$shadows-color, 0.15);
    border-radius: units.$border-radius-base;
    @include shadow.shadow-base;
  }
  li.selected {
    color: colors.$light-color;
    transition: 0s ease-out;
    background: rgba(colors.$shadows-color, 0.15);
    border-radius: units.$border-radius-base;
    @include shadow.shadow-base;
  }
  li.selected:hover {
    color: colors.$hover-color;
  }
  li.selected:before {
    content: "\f05d";
  }
  li > input {
    appearance: none;
  }
}
