:root {
  --white-color: rgb(219, 219, 219);
  --light-color: rgb(184, 184, 184);
  --dark-color: rgb(155, 155, 155);
  --bright-color: rgb(217, 217, 217);
  --dull-color: rgb(116, 116, 116);
  --input-color: rgb(120, 120, 120);
  --hover-bottoms-1: rgb(43, 43, 43);
  --buttoms-color: rgb(74, 74, 74);
  --hover-buttoms-2: rgb(140, 140, 140);
  --very-high-rating: rgb(156, 156, 156);
  --high-rating: rgb(105, 105, 105);
  --average-rating: rgb(82, 82, 82);
  --small-rating: rgb(64, 64, 64);
  --time-filled: rgb(92, 92, 92);
  --time-empty: rgb(43, 43, 43);
  --anime-inprocess: rgb(69, 146, 76);
  --anime-complete: rgb(41, 107, 47);
  --manga-inprocess: rgb(189, 15, 86);
  --manga-complete: rgb(153, 0, 62);
  --hover-color: rgb(255, 153, 51);
  --shadows-color: rgb(150, 150, 150);
  --block-color: rgb(69, 69, 69);
  --menu-back: rgb(21, 21, 21);
  --nick-cover: rgb(69, 69, 69);
  --popup-color: rgb(39, 39, 39);
  --hundred: 1;
}