//final transported
@use "./../units";
@use "./../colors";

@use "./responsive.scss";
@use "./font_shikimori.scss";
@use "./link.scss";
@use "./margins.scss";

@mixin icon_style($desktop-font-size: 14px, $mobile-font-size: 17px) {
  cursor: pointer;
  display: inline-block;
  font-size: $desktop-font-size;
  line-height: units.$icon_desktop_size;
  text-align: center;
  width: units.$icon_desktop_size;

  @include responsive.lte_ipad {
    font-size: $mobile-font-size;
    line-height: units.$icon_mobile_size;
    width: units.$icon_mobile_size;
  }
}

@mixin icon($content, $desktop-font-size: 14px, $mobile-font-size: 17px) {
  cursor: pointer;

  &:before,
  &:after {
    @include icon_style($desktop-font-size, $mobile-font-size);
  }

  &:before {
    @include font_shikimori.font_shikimori($content);
  }

  @include responsive.lte_ipad {
    white-space: nowrap;

    &:after {
      font-size: 17px;
      padding-left: 5px;
    }
  }
}

@mixin menu_icon($content, $font-size: 14px) {
  @include icon($content, $font-size) {
    &:before {
      float: left;
      margin-right: 2px;

      @include responsive.iphone {
        margin-right: 7px;
      }
    }
  }
}

@mixin icon_left_margins {
  @include responsive.gte_laptop {
    @include margins.ml(15px);
  }

  @include responsive.lte_ipad {
    @include margins.ml(35px);
  }
}

@mixin icon_button($content) {
  @include icon($content, 13px);
  @include link.link_color(#444);
  @include icon_left_margins;

  &.selected {
    color: colors.$link-hover-color;
  }

  @include responsive.gte_laptop {
    &:after {
      display: none;
    }
  }
}
